@import url(//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember);
@font-face {font-family: "Amazon Ember"; src: url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot"); src: url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff") format("woff"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.svg#Amazon Ember") format("svg"); }
body {
  background-color: #0f171e;
  font-family: "Amazon Ember";
}
.navbar {
  background-color: #0f171e;
  max-height: 66px;
  padding-left: 0;
  padding-right: 0;
}
.navbar-right {
  padding-left: 0;
}
.nav-link {
  font-size: 17px;
  padding-bottom: 1px;
  padding-top: 1px;
}
.btn-secondary {
  padding-left: 0;
  border: none;
}
.form-inline .btn {
  background: transparent;
}
@media only screen and (max-width:850px) {
  .navbar a, .navbar p{
    font-size: 14px;
  }
  .search {
    padding-right: 0px;
  }
}
@media (max-width: 576px) {
  .navbar a, .navbar p{
    font-size: 16px;
  }
  .navbar-collapse {
      background-color:#0f171e;
      min-width: 100vw;
      margin-left: 0;
    }
    .search {
      margin-top: 0 !important;
    }
    .input-group-text {
      margin-top: 0 !important;
    }
}
.active {
  border-bottom: 2px solid white;
}
.form-inline input {
  background: transparent;
}
.form-inline input:focus {
  background: transparent;
}
.input-group-text {
  height: 38.5px;
  padding: 6px 12px;
  margin-top: 24px;
  background: transparent;
  border-right: 0;
}
.form-control {
  border-left: 0px;
}
.userIcon {
  font-size: 25px;
  margin-top: 20px;
  margin-left: 3px;
}
.userName {
  margin-top: 39px;
  margin-left: 10px;
}
.carousel {
  cursor: pointer;
}
.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}
.carousel .slide img {
    max-height: 500px;
    min-height: 100%;
    width: auto;
}
.kids .carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}
.kids .carousel .slide img, .bollywood .carousel .slide img, .latest .carousel .slide img{
    max-height: 300px;
    min-height: 100%;
    width: auto;
}
@media only screen and (max-width: 768px) {
  margin-left: 0 !important;
}
.form_container {
  border-bottom: 2px solid white;
}
